:root {
  --sss-type-text-10: 400 1.813em/2.175em 'Arsenal';
  --sss-type-text-10-size: 29;
  --sss-type-text-10-weight: 400;
  --sss-type-text-9: 400 1.5em/1.8em 'Arsenal';
  --sss-type-text-9-size: 24;
  --sss-type-text-9-weight: 400;
  --sss-type-text-8: 400 1.313em/1.575em 'Arsenal';
  --sss-type-text-8-size: 21;
  --sss-type-text-8-weight: 400;
  --sss-type-text-7: 400 1.188em/1.425em 'Arsenal';
  --sss-type-text-7-size: 19;
  --sss-type-text-7-weight: 400;
  --sss-type-text-6: 400 1.063em/1.275em 'Arsenal';
  --sss-type-text-6-size: 17;
  --sss-type-text-6-weight: 400;
  --sss-type-text-5: 400 1em/1.2em 'Arsenal';
  --sss-type-text-5-size: 16;
  --sss-type-text-5-weight: 400;
  --sss-type-text: 400 1em/1.2em 'Arsenal';
  --sss-type-text-size: 16;
  --sss-type-text-weight: 400;
  --sss-type-text-4: 400 0.938em/1.125em 'Arsenal';
  --sss-type-text-4-size: 15;
  --sss-type-text-4-weight: 400;
  --sss-type-text-3: 400 0.875em/1.05em 'Arsenal';
  --sss-type-text-3-size: 14;
  --sss-type-text-3-weight: 400;
  --sss-type-text-2: 400 0.75em/0.9em 'Arsenal';
  --sss-type-text-2-size: 12;
  --sss-type-text-2-weight: 400;
  --sss-type-text-1: 400 0.688em/0.825em 'Arsenal';
  --sss-type-text-1-size: 11;
  --sss-type-text-1-weight: 400;
  --sss-color-dog-100: #f3e0ff;
  --sss-color-dog-200: #dfb6fa;
  --sss-color-dog-300: #c68ced;
  --sss-color-dog-400: #ad67db;
  --sss-color-dog-500: #8f44c2;
  --sss-color-dog: #8f44c2;
  --sss-color-dog-600: #7c2eb0;
  --sss-color-dog-700: #631994;
  --sss-color-dog-800: #4a0975;
  --sss-color-dog-900: #330154;
  --sss-spacing-col-0: 0%;
  --sss-spacing-col-0-3: 2.7775%;
  --sss-spacing-col-0-4: 2.0833%;
  --sss-spacing-col-0-6: 4.1667%;
  --sss-spacing-col-0-8: 6.25%;
  --sss-spacing-col-0-9: 5.555%;
  --sss-spacing-col-1: 8.3333%;
  --sss-spacing-col-1-3: 11.1108%;
  --sss-spacing-col-1-4: 10.4167%;
  --sss-spacing-col-1-6: 12.5%;
  --sss-spacing-col-1-8: 14.5833%;
  --sss-spacing-col-1-9: 13.8883%;
  --sss-spacing-col-2: 16.6667%;
  --sss-spacing-col-2-3: 19.4442%;
  --sss-spacing-col-2-4: 18.75%;
  --sss-spacing-col-2-6: 20.8333%;
  --sss-spacing-col-2-8: 22.9167%;
  --sss-spacing-col-2-9: 22.2217%;
  --sss-spacing-col-3: 25%;
  --sss-spacing-col-3-3: 27.7775%;
  --sss-spacing-col-3-4: 27.0833%;
  --sss-spacing-col-3-6: 29.1667%;
  --sss-spacing-col-3-8: 31.25%;
  --sss-spacing-col-3-9: 30.555%;
  --sss-spacing-col-4: 33.3333%;
  --sss-spacing-col-5: 41.6667%;
  --sss-spacing-col-6: 50%;
  --sss-spacing-col-7: 58.3333%;
  --sss-spacing-col-8: 66.6667%;
  --sss-spacing-col-9: 75%;
  --sss-spacing-col-10: 83.3333%;
  --sss-spacing-col-11: 91.6667%;
  --sss-spacing-col-12: 100%;
  --sss-spacing-colvw-0: 0vw;
  --sss-spacing-colvw-0-3: 2.7775vw;
  --sss-spacing-colvw-0-4: 2.0833vw;
  --sss-spacing-colvw-0-6: 4.1667vw;
  --sss-spacing-colvw-0-8: 6.25vw;
  --sss-spacing-colvw-0-9: 5.555vw;
  --sss-spacing-colvw-1: 8.3333vw;
  --sss-spacing-colvw-1-3: 11.1108vw;
  --sss-spacing-colvw-1-4: 10.4167vw;
  --sss-spacing-colvw-1-6: 12.5vw;
  --sss-spacing-colvw-1-8: 14.5833vw;
  --sss-spacing-colvw-1-9: 13.8883vw;
  --sss-spacing-colvw-2: 16.6667vw;
  --sss-spacing-colvw-2-3: 19.4442vw;
  --sss-spacing-colvw-2-4: 18.75vw;
  --sss-spacing-colvw-2-6: 20.8333vw;
  --sss-spacing-colvw-2-8: 22.9167vw;
  --sss-spacing-colvw-2-9: 22.2217vw;
  --sss-spacing-colvw-3: 25vw;
  --sss-spacing-colvw-3-3: 27.7775vw;
  --sss-spacing-colvw-3-4: 27.0833vw;
  --sss-spacing-colvw-3-6: 29.1667vw;
  --sss-spacing-colvw-3-8: 31.25vw;
  --sss-spacing-colvw-3-9: 30.555vw;
  --sss-spacing-colvw-4: 33.3333vw;
  --sss-spacing-colvw-5: 41.6667vw;
  --sss-spacing-colvw-6: 50vw;
  --sss-spacing-colvw-7: 58.3333vw;
  --sss-spacing-colvw-8: 66.6667vw;
  --sss-spacing-colvw-9: 75vw;
  --sss-spacing-colvw-10: 83.3333vw;
  --sss-spacing-colvw-11: 91.6667vw;
  --sss-spacing-colvw-12: 100vw;
}